.create-container{
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.head-text{
    font-family: 'Helvetica';
font-weight: 600;
font-size: 4rem;
line-height: 4rem;
/* or 100% */
margin-bottom: 0;
text-align: right;
margin-bottom: 2rem;
color: #240D57;
}

.gradient-text{
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-text-fill-color: transparent;
}

.labels{
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #4F4F4F;
   
}

.input_field{
    margin-top: 0.75rem;
    width: 90%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_field:focus{
    border-color: #240D57;
    
}

.create_button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 5px;
color: #FFFFFF;
font-family: 'Helvetica';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 15px;
width: 150px;
height: 40px;
background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
border-radius: 10px;
cursor: pointer;
border: none;
margin-top: 1rem;

}

.date-fields{
    display: flex;
    flex-direction: row;
  gap: 50px;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-tracks: center;
   
}

@media screen and (max-width: 650px)
{
    .create-container{
        height: 100vh;
        padding: 10px;
    }

    .form-container{
        width: 90%;
        
    }
    .input_field{
        margin-top: 0.5rem;
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .date-fields{
        width: 90%;
        display: flex;
        flex-direction: row; 
       justify-content: space-between;
       gap: 10px;
     
    }

    .date-fields input{
        width: 80%;
    }
}
@media screen and (max-width: 300px){
    .create-container{
        height: 100%;
        padding: 5px;
    }

    .form-container{
        width: 80%;
        
    }
    .input_field{
        margin-top: 0.2rem;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .date-fields{
        width: 80%;
        display: flex;
        flex-direction: column; 
       justify-content: center;
       gap: 3px;
     
    }

    .date-fields input{
        width: 100%;
    }
}
